HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# macOS versions
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Java specific
*.class
*.jar
*.war
*.ear

# Compiled Java files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse specific
.project
.classpath
.settings/
bin/
tmp/

# IntelliJ IDEA specific
.idea/
*.iws
*.iml
*.ipr
out/

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code specific
.vscode/
.history/

# Maven specific
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle specific
.gradle
build/

# Other
# Binary files
*.swp

# Temporary files
*~

# Windows specific
Thumbs.db
ehthumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Dropbox
.dropbox
.dropbox.cache

# JetBrains Rider
.idea/
.idea_modules/
*.sln.iml

# End of file
node_modules