<!doctype html>
<html  class="light"
       lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="parent(content, title, script)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-th-replace="${title}">Base page</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet" />
    <link th:href="@{/css/output.css}" rel="stylesheet" />
</head>
<body class="dark:bg-gray-900 bg-gray-100 dark:text-white">

<!-- common header-->
<div data-th-replace="navbar::navbar">

</div>


<!-- main content-->
<section th:replace="${content}">Content goes here</section>




<!-- script-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
<script data-th-src="@{'/js/script.js'}"></script>
<th:block th:replace="${script}">Scripts go here</th:block>

</body>
</html>
